main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.registrationWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.regLogo {
  width: 60%;
  max-width: 374px;
  margin: auto;
  padding-bottom: 30%;
}

.regInputPanel {
  display: flex;
  justify-content: left;
  flex-direction: column;
  width: 60%;
  height: 30%;
  margin: auto;
}

.regInput {
  font-family: 'Graphik', Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: #898B8D;
  border: none;
  opacity: 0.5;
  border-bottom: 1px solid #898B8D;
  outline: none;
  padding: 2% 0 2% 0;
  margin-bottom: 30%;
}

.regButtonEnter {
  text-transform: uppercase;
  font-family: 'Graphik', Arial, Helvetica, sans-serif;
  font-size: .9em;
  &Wrapper {
    margin: 10% auto auto auto;
    display: flex;
    justify-content: center;
    border: 1px solid #E61E28;
    width: 60%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-decoration: none;
    color: #E61E28;
    cursor: pointer;
    transition: all .2s ease;
    &:hover {
      border: 1px solid black;
      color: black;
    }
  }
}

.regButtonRegister {
  color: #898B8D;
  font-family: 'Graphik', Arial, Helvetica, sans-serif;
  font-size: 1em;
  text-decoration: underline;
  &Wrapper{
    margin: 10% auto auto auto;
  }
}